/CommunicationBook/.vs/CommunicationBook/v15/.suo
/CommunicationBook/.vs/CommunicationBook/v15/Browse.VC.db
/MessagePromptA/.vs/MessagePromptA/v15/.suo
/MessagePromptA/.vs/MessagePromptA/v15/Browse.VC.db
/MessagePromptA/MessagePromptA.v12.suo
/CMediaStream/.vs/CMediaStream/v15/.suo
/CMediaStream/.vs/CMediaStream/v15/Browse.VC.db
/CMediaStream/CMediaStream.v12.suo
/MySetBk/.vs/MySetBk/v15/.suo
/MySetBk/.vs/MySetBk/v15/Browse.VC.db
/MySetBk/Backup/MySetBk.v12.suo
/MyPlayer/.vs/MyPlayer/v15/.suo
/MyPlayer/.vs/MyPlayer/v15/Browse.VC.db
